    <div id="heading">
    <h1>Boozetrack</h1>
    </div>

    <div id="splash" style="display: none">
    </div>

    <!-- ol>
            <li>Check your console log for any white-list rejection errors.</li>
            <li>Add your allowed <strong>hosts</strong> in Cordova.plist/ExternalHosts (wildcards OK, don't enter the URL scheme)</li>
    </ol -->

    <div id="demo" style="display: none">
        <ul>
            <li><input type="button" onclick="BT.takePhoto();" value="Camera"></li>
            <li></li>
            <li><input type="button" onclick="BT.scanBarcode();" value="Scan"></li>
            <li></li>
            <li><input type="button" onclick="alert('test');" value="alert"></li>
        </ul>

        <p id="stuff"></p>

        <img id="myImage" width="320" height="320">
    </div>
